<!DOCTYPE html>
<html ng-app="Paradox">
    <head>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="webApp/css/main.css">
        <title>Paradox</title>
    </head>
     <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
            <div class="container">
                <div ng-show="!loggedIn">
                    <input type="text" ng-model="login.email">
                    <input type="password" ng-model="login.password"> 
                    <button ng-click="logUserIn()">Login</button> 
                    <a ui-sref="signUp">Create an Account</a>
                </div>
                <div ng-show="loggedIn">
                    <a ui-sref="editProfile">Edit Profile</a>
                </div>
            </div>
        </nav>
        
    <body>
       <div ui-view></div>
    </body>
    <script src="node_modules/angular/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="webApp/app.js"></script>
    <script src="webApp/signup/signup-controller.js"></script>
    <script src="webApp/navigation/navigation-controller.js"></script>
    <script src="webApp/profile/edit-profile-controller.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
</html>