<style>
    div.container {
      display:inline-block;
    }
</style>
<ion-view view-title="Dashboard">
  <ion-content class="padding">
  	<!--card style list of posts -->
  	<!--currently is just the sample layout, and does not correlate to the angular yet -->
  	<div class="list card">

	  <div class="item item-avatar">
	    <img src="avatar.jpg">
	    <h2>Pretty Hate Machine</h2>
	    <p>Nine Inch Nails</p>
	  </div>
	  <div class="container">
	  	<div class="item item-image">
	    	<img src="cover.jpg">
	  	</div>	
	  </div>
	  <div class="container">
	  	<div class="item item-image">
	    	<img src="cover.jpg">
	  	</div>	
	  </div>
	  <a class="item item-icon-left assertive" href="#">
	    <i class="icon ion-music-note"></i>
	    Start listening
	  </a>

	</div>
  
  </ion-content>
</ion-view>
